#### Example template for .env file

############################################
# POSTGIS DATABASE
############################################
POSTGIS_DB_HOST=jdbc:postgresql://konsumpi:25432/simra
POSTGIS_DB_USER=simra
POSTGIS_DB_PASSWORD=simra

############################################
# OSMR BACKEND
############################################
OSMR_BACKEND_URL=http://konsumpi:25000

############################################
# BLOOM FILTER
############################################
BLOOM_FILTER_FILE=./bloomfilter.bin
BLOOM_FILTER_EXPECTED_INSERTIONS=1000000
BLOOM_FILTER_ERROR_RATE=0.005

############################################
# SIMRA
############################################
SIMRA_RIDE_FILE_PATH=/Users/davidschmidt/Programmierung/Master/data/dataset-master

