############################################
# HOST CONFIGURATION
############################################
PI_HOST=konsumpi

############################################
# POSTGIS DATABASE
############################################
POSTGIS_DB_HOST=jdbc:postgresql://${PI_HOST}:25432/simra
POSTGIS_DB_USER=simra
POSTGIS_DB_PASSWORD=simra

############################################
# OSMR BACKEND
############################################
OSMR_BACKEND_URL=http://${PI_HOST}:25000

############################################
# BLOOM FILTER
############################################
BLOOM_FILTER_FILE_RIDES=./bloomfilter/rides.bin
BLOOM_FILTER_EXPECTED_INSERTIONS_RIDES=10000000
BLOOM_FILTER_ERROR_RATE_RIDES=0.005
BLOOM_FILTER_FILE_PROFILES=./bloomfilter/profiles.bin
BLOOM_FILTER_EXPECTED_INSERTIONS_PROFILES=100000
BLOOM_FILTER_ERROR_RATE_PROFILES=0.005

############################################
# SIMRA
############################################
SIMRA_RIDE_FILE_PATH=/Users/davidschmidt/Programmierung/Master/data/dataset-master
SIMRA_PROFILE_FILE_PATH=/Users/davidschmidt/Programmierung/Master/data/dataset-master/profiles
SIMRA_PORT=8080
SIMRA_EXPORT_VOLUME_PATH=.

############################################
# VALHALLA BACKEND
############################################
VALHALLA_BACKEND_URL=http://${PI_HOST}:25001
VALHALLA_TURN_PENALTY_FACTOR=10000000

############################################
# REDIS CONFIGURATION
############################################
REDIS_PASSWORD=simra
REDIS_HOST=${PI_HOST}
REDIS_PORT=25002

############################################
# ANALYTICS
############################################
SCHEDULING_CORE_POOL_SIZE=4

############################################
# ASYNC
############################################
ASYNC_CORE_POOL_SIZE=4
ASYNC_MAX_POOL_SIZE=6
ASYNC_QUEUE_CAPACITY=100

############################################
# Spring Boot
############################################
# just activate this if you want to run the application in production mode
SPRING_PROFILES_ACTIVE=docker
